<!DOCTYPE html>
<html lang="en">
	<!-- Head -->
	<head>
		<!-- Meta Data
        ============================================================== -->
    <title>CoderScoop ContactForm / HTML template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keyWords" content="laravel contact form">
		<meta charset="utf-8">

		<!-- Fonts, CSS & JS
        ============================================================== -->
		<link rel="icon" href="../assets/img/icon.png">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Taviraj" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" >
		<link rel="stylesheet" href="../assets/css/normalize.css">
		<link rel="stylesheet" href="../assets/css/app.css">
	</head>

	<!-- Body -->
	<body>
		<!-- Contact Form
				============================================================== -->
        <form class="format" action="index.html" method="post">
          <fieldset>
            <legend> ### contact information ### </legend>
            first name:<br>
            <input type="text" name="firstname" value=""><br>
            last name:<br>
            <input type="text" name="lastname" value=""><br>
            email address:<br>
            <input type="email" name="email"><br>
            telephone:<br>
            <input type="tel" name="usrtel"><br>
          </fieldset><br>

          <fieldset>
            <legend> ### message ###</legend>
            <textarea name="message" rows="10" cols="30"></textarea>
            <br>
          </fieldset><br>

          <input type="submit" value="Submit">
          <input type="reset">
        </form>

		<!-- Footer
				============================================================== -->
		<footer>
		</footer>
	</body>
</html>
